*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*       VARS        */
:root{
    --BACKGROUND_TOP_HEIGHT: 5rem;
    --BACKGROUND-BOTTOM-HEIGHT: calc(100% - var(--BACKGROUND_TOP_HEIGHT));
    --CHAT_HISTORY_BLOCK_HEIGHT: 80px;

    --CHAT_HISTORY_BLOCK_PADDING: 1em;

    /* colors */
    --BACGROUND_TOP: #009688;
    --BACGROUND_BOTTOM: #dbdbd3;
    --APP_BACKGROUND: #eaeaea;


    --background-color: white;
    --text-color: black;
    --user-bg-color: #d5f9ba;
    --other-bg-color: white;
    --silence-bg-color: #8edafc;
}

[data-theme="darkMode"] {
    /* Variables for dark mode */
    --background-color: grey;
    --text-color: white;
    --APP_BACKGROUND: grey;
    --user-bg-color: darkblue;
    --other-bg-color: grey;
    --silence-bg-color: darkblue;
    --dark-bg-filter: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,0.9026961126247374) 0%, rgba(2,0,36,0.6393907904958859) 0%);
}

html{
    font-family: 'Lato', sans-serif;
}

body{
    height: 100vh;
    position: relative;
}

.app-container{
    display: flex;
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    background-color: var(--APP_BACKGROUND);
    max-width: 100%;
    margin: 0 auto;
}

.background-top{
    background-color: var(--BACGROUND_TOP);
    height: var(--BACKGROUND_TOP_HEIGHT);
}

.background-bottom{
    background-color: var(--BACGROUND_BOTTOM);
    height: var(--BACKGROUND-BOTTOM-HEIGHT);
}

.chat-history{
    max-width: 100%;
    position: relative;
    z-index: 1;
    height: 100%;
    flex-basis: 100%;
    padding: var(--CHAT_HISTORY_BLOCK_PADDING);

    display: flex;
    flex-direction: column;

    gap: .8rem;
    background-color: var(--APP_BACKGROUND);
    color: var(--text-color);
}

.chat-history-header,
.chat-history-block,
.active-chat-header,
.active-chat-block,
.silence-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.silence-block{
    justify-content: start;
    background-color: var(--silence-bg-color);

    padding: .5em;
    margin: 0 calc(-1 * var(--CHAT_HISTORY_BLOCK_PADDING));
}

.chat-history-block span{
    font-weight: 600;
}

.chat-history-block img,
.active-chat-block img{
    max-height: calc(var(--CHAT_HISTORY_BLOCK_HEIGHT) - var(--CHAT_HISTORY_BLOCK_PADDING) * 2);
    margin-right: .5em;
}


.silence-block .icon{
    margin:0 .5em;
    width: calc(var(--CHAT_HISTORY_BLOCK_HEIGHT) - var(--CHAT_HISTORY_BLOCK_PADDING) * 2);
    height: calc(var(--CHAT_HISTORY_BLOCK_HEIGHT) - var(--CHAT_HISTORY_BLOCK_PADDING) * 2);
}
.silence-block .icon::before,
.silence-block .icon{
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    padding: .3rem;

    color: var(--silence-bg-color);
    background-color: var(--APP_BACKGROUND);
}

.silence-text span{
    display: block;
    font-weight: 500;
}

.silence-text a{
    color: green;

    font-size: .8em;
}

.search-block{
    display: flex;
    align-items: center;

    margin: 0 calc(-.5 * var(--CHAT_HISTORY_BLOCK_PADDING));
}

.search-block a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;

    text-align: center;

    background-color: white;
    border: 1px solid lightgrey;

    height: 30px;
}
.search-block input{
    flex-grow: 1;
    height: 30px;
    padding: 0 1em;

    border-radius: 0;
    border: 1px solid lightgrey;
}

.search-block input:focus-visible{
    outline: 0;
}

.last-chats{
    display: flex;
    flex-direction: column;

    list-style: none;

    height: 100%;
    overflow-y: auto;

    background-color: white;

    margin: 0 calc(-1 * var(--CHAT_HISTORY_BLOCK_PADDING));
    margin-bottom: calc(-1 * var(--CHAT_HISTORY_BLOCK_PADDING));
    background-color: var(--background-color);
    
}

.last-chats-chat{
    display: flex;
    padding: .5em;
    cursor: pointer;
    
}
.last-chats-chat + .last-chats-chat{
    border-top: 1px solid lightgrey;
}
.last-chats-chat img{
    max-height: calc(var(--CHAT_HISTORY_BLOCK_HEIGHT) - 1em * 2);
    margin: 0 .5em;
    /* calc(var(--CHAT_HISTORY_BLOCK_HEIGHT) - 1em * 2); */
}

.chat-info{
    display: flex;
    flex-direction: column;
}

.chat-info span{
    font-weight: 600;
    /* color: var(--text-color); */
    
}

.chat-info small{
    color: grey;
    white-space: nowrap;
    max-width: 25ch;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-color);
}

.last-chats-chat>span{
    margin-left: auto;

    /* margin-right: .5em; */

    font-size: .8em;
    /* color: grey; */
    color: var(--text-color);
}

.active-chat{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* display: none; */
    width: 100%;
    background-image: url(../img/mine.jpg);
    /* z-index: 1; */
    color: var(--text-color);
}
.active-chat-header{
    padding: .9em;
    background-color: var(--APP_BACKGROUND);
}

.active-chat-body{
    list-style: none;

    margin: 0 auto;
    /* max-width: 700px; */

    display: flex;
    flex-direction: column;

    background-image: url(../img/mine.jpg);
    background: var(--dark-bg-filter);

    height: calc(100% - var(--CHAT_HISTORY_BLOCK_HEIGHT) * 2 + .2em);
    padding: 1em;
    gap: .5em;

    /* overflow-y: auto; */
    overflow-y: auto;
}

.active-chat-footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em 0;
    height: var(--CHAT_HISTORY_BLOCK_HEIGHT);
    background-color: var(--APP_BACKGROUND);

    display: flex;
    align-items: center;
}
.active-chat-footer input{
    flex-grow: 1;
    height: calc(var(--CHAT_HISTORY_BLOCK_HEIGHT) - 2em);
    border-radius: 1em;

    padding: 0 1em;

    border: 1px solid lightgrey;
}

.active-chat-footer i{
    flex-basis: 80px;
    /* text-align: center; */

    margin: auto;

    height: 100%;
    display: flex;
    cursor: pointer;
}

.active-chat-footer i::before{
    font-size: 1.5em;
    margin: auto;
}


/*       UTILITY       */
.circle{
    border-radius: 50%;
}
.menu-icon{
    padding: .5em;
    font-size: 1.2em;

    color: #b1b1b1;
}

.message{
    display: inline-block;
    position: relative;
    padding: 1em;
    border-radius: .5em;
  
    max-width: 330px;
    
    overflow-wrap: anywhere;
} 
.user{
    /* margin-left: auto; */
    align-self: end;
    /* margin-right: 0; */
    background-color: var(--user-bg-color);
}

.other{
    align-self: start;
    background-color: white;
    background-color: var(--other-bg-color);
}

.content{
    display: flex;
    flex-direction: column;
}

.message:hover i{
    opacity: 1;
    cursor: pointer;
}

.message small{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: .5em;
     margin:.2em .5em;
}
.message i{
    position: absolute;
    right: .5em;
    top: .5em;
    font-size: .8em;
    padding:.2em .1em;
    opacity: 0;
}


.pop-up-menu{
    position: absolute;
    top: 80%;

    z-index: 900;
    min-width: 100%;
    text-align: center;
    list-style: none;
    background-color: white;
    white-space: nowrap;

    border: 1px solid grey;
    border-radius: .2em;
    box-shadow: 0px 0px 10px -1px #000000;
    background-color: var(--APP_BACKGROUND);
    color: var(--text-color);

}
.message.other .pop-up-menu{
    color: var(--text-color);
    left: 0;
}
.message.user .pop-up-menu{
    color: var(--text-color);
    right: 0;
}

.pop-up-menu li{
    padding: .1em .5em;
    cursor: pointer;
}

.pop-up-menu li:first-child,
.pop-up-new-chat div:first-child{
    background-color: red;
    color: white;
    text-align: center;
    padding: .5em;
}
.pop-up-menu li + li {
    border-top: 1px solid grey;

}
.pop-up-new-chat{
    width: 90%;
    /* height: 300px; */
    height: 100%;
    padding: 1em;
    position: absolute;
    z-index: 999999999999999999999999999999999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    /* margin: 0 auto; */

    list-style: none;
    /* text-align: center; */

    background-color: var(--APP_BACKGROUND);
    color: var(--text-color);

    
    border: 1px solid grey;
    border-radius: .2em;
    box-shadow: 0px 5px 40px 1px #6d6767;
}

.pop-up-new-chat input{
    width: 100%;
    height: 2em;
    padding: .2em;
}
.pop-up-new-chat .chat-info small{
    max-width: 10ch;
}

.pop-up-new-chat .header{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    cursor: pointer;
    height: 4.5rem;
}
.pop-up-new-chat ul{
    margin-left: -.2em;
    margin-right: -.2em;
    margin-top: 4.5rem;
    min-height: 0;
    
    max-height: 100%;
    overflow-y: auto;
}

@media screen and (min-width: 768px){
    .app-container{
        top: 1rem;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;

        max-width: 90%;
    }

    .active-chat{
        position: relative;
    }

    .chat-history{
        flex-basis: 500px;
    }
}

emoji-picker{
    position:absolute;
    width: 100%;
    max-height: 250px;
    bottom: 100%;
    left: 0;
    right: 0;
}

.splash{
    position: absolute;
    z-index: 99999999999999999;
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    background-color: green;
    color: white;
    /* font-size: 5rem; */
}
.splash h2 {
    margin: auto;
    max-width: 100%;
}