<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="css/style.css">
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div class = "background-top"></div>
    <div class = "background-bottom"></div>

    <div id = "vue-app" class = "app-container">
        <div class="chat-history">
            <div class="chat-history-header">
                <div class="chat-history-block">
                    <img class = "circle" src="img/avatar_io.jpg" alt="your profile photo">
                    <div class="chat-info">
                        <span>{{ user.name }}</span>
                        <small v-if = "!user.typing">{{ user.status }}</small>
                        <small v-else > Sta scrivendo...</small>
                    </div>
                </div>

                <div class="chat-history-block">
                    <i class="fa-solid fa-circle-notch menu-icon"></i>
                    <i class="fa-solid fa-message menu-icon"></i>
                    <i class="fa-solid fa-ellipsis-vertical menu-icon"></i>
                </div>
            </div>

            <div class="silence-block">
                <i class="fa-solid fa-bell-slash icon"></i>

                <div class="silence-text">
                    <span>Ricevi notifiche di nuovi messaggi</span>
                    <a @click.prevent href="#">Attiva notifiche desktop</a>
                </div>
            </div>

            <div class="search-block">
                <a @click.prevent href="#">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
                <input type="text" v-model="searchKey" size = "1" placeholder="Cerca o inizia una nuova chat">
            </div>

            <ul class="last-chats">
                <li v-for = "(chat, index) in this.filteredChat" class="last-chats-chat" @click = "changeChat(chat.id)">
                    <img class = "circle" :src="'img/' + chat.profileImg" alt="name profile photo">
                    <div class="chat-info">
                        <span>{{chat.name}}</span>
                        <small v-if = "chat.chatContent.length">{{ chat.chatContent[last(chat.chatContent)].text }}</small>
                    </div>
                    <span v-if = "chat.chatContent.length">{{chat.chatContent[last(chat.chatContent)].time}}</span>
                </li>
            </ul>

        </div>
        <div v-if = "activeChatIndex >= 0" class="active-chat">
            <div class="active-chat-header">
                <div class="active-chat-block">
                    <img class = "circle" :src="'img/' + this.chatArchive[this.activeChatIndex].profileImg" alt="your profile photo">
                    <div class="chat-info">
                        <span>{{ this.chatArchive[this.activeChatIndex].name }}</span>
                        <small>{{ this.chatArchive[this.activeChatIndex].lastSeen }}</small>
                    </div>
                </div>

                <div class="active-chat-block">
                    <i class="fa-solid fa-magnifying-glass menu-icon"></i>
                    <i class="fa-solid fa-paperclip menu-icon"></i>
                    <i class="fa-solid fa-ellipsis-vertical menu-icon" @click = "delChat"></i>
                </div>
            </div>

            <ul class="active-chat-body">
                <li v-for = "msg in chatArchive[activeChatIndex].chatContent" class = "content">
                    <div class="message" :class = "msg.owner == user.name ? 'user' : 'other'">
                        <i class="fa-solid fa-ellipsis-vertical menu-icon" @click = "showMenu(msg)"></i>
                        <span>{{msg.text}}</span>
                        <small>{{msg.time}}</small>
                        <ul class="pop-up-menu" v-show = "(msg.showMenu)">
                            <li @click = "showMenu(msg)">&Cross;</li>
                            <li @click = "delMessage(msg,chatArchive[activeChatIndex].chatContent)">Elimina messaggio</li>
                            <li @click = "msgInfo(msg)">Info</li>
                        </ul>
                    </div>
                </li>
            </ul>

            <div class="active-chat-footer">
                <i class="fa-regular fa-face-smile"></i>
                <input type="text" size = "1" placeholder="Scrivi un messaggio" @input = "sendBtn" @keypress.enter = "sendMessage" v-model="newMessage.text">
                <i v-if = "user.typing == false" class="fa-solid fa-microphone"></i>
                <i v-else class="fa-solid fa-paper-plane" @click = "sendMessage"></i>
            </div>
        </div>

    </div>
    <script src="script/script.js"></script>
</body>
</html>